@-ms-viewport
  width: device-width

body
  margin: 0
  padding: 0

html
  box-sizing: border-box
  -ms-overflow-style: scrollbar

*,
*::before,
*::after
  box-sizing: inherit

li
  display: inline-block
  list-style: none

a
  text-decoration: none