.nav-bar
  border-bottom: 1px solid #BFBFBF
  background: linear-gradient(#E6E6E6, white, #E6E6E6)
  padding: 0
  height: 64px
  grid-column: start / end
  display: grid
  grid-template-columns: [start] 1fr [center] auto 1fr [end]

  > *
    margin: 0
    padding: 0

  .left, .center, .right
    grid-row: 1
  .left
    padding-left: 16px
    justify-self: start
    grid-column: start / center
  .center
    padding-left: 16px
    padding-right: 16px
    justify-self: stretch
    grid-column: center / span 1
  .right
    padding-right: 16px
    justify-self: end
    grid-column: span 1 / end