.nav-bar
  .list
    display: grid
    grid-template-columns: [start] 1fr [end]
    height: 100%
    margin: 0
    grid-auto-flow: column
    li
      grid-template-rows: [start] 1fr 4px [end]
      display: grid
      a
        align-self: center
        padding: 0 16px
        color: $purple-light
      &:hover
        a
          text-decoration: none
        &:after
          align-self: end
          content: ''
          display: block
          width: auto
          height: 4px
          background: $purple-light
      
    .active
      &:after
        align-self: end
        content: ''
        display: block
        width: auto
        height: 4px
        background: $purple-light
  .list-group
    display: grid
    grid-auto-flow: column
    align-items: center

@media (max-width: 768px)
  .nav-bar
    *:not(.show-bar)
      .list
        li
          padding: 12px 12px
          grid-column-start: start
          grid-column-end: end
