$max-fullhd: 3000px !default
$min-fullhd: 1440px !default
$viewport-fullhd: (max: $max-fullhd, min: $min-fullhd)

$max-widescreen: 1439px !default
$min-widescreen: 1280px !default
$viewport-widescreen: (max: $max-widescreen, min: $min-widescreen)

$max-desktop: 1279px !default
$min-desktop: 1024px !default
$viewport-desktop: (max: $max-desktop, min: $min-desktop)

$max-tablet: 1023px !default
$min-tablet: 769px !default
$viewport-tablet: (max: $max-tablet, min: $min-tablet)

$max-mobile: 768px !default
$min-mobile: 0px !default
$viewport-mobile: (max: $max-mobile, min: $min-mobile)

$viewports: (fullhd: $viewport-fullhd, widescreen: $viewport-widescreen, desktop: $viewport-desktop, tablet: $viewport-tablet, mobile: $viewport-mobile)

$max-col: 12 !default
$green: #508026 !default
$green-light: #A0FF4C !default

$white: #F7F7F7 !default
$back: #000000 !default
$gray: #DDDDDD !default
    
$purple: #AC4CFF !default
$purple-light: #D6A6FF !default
$purple-dark: #562680 !default