@import "./media/on"
@import "./media/from"
@for $i from 1 through $max-col
  .grid-#{$i}
    display: grid
    grid-template-columns: [start] repeat(#{$i}, 1fr) [end]

  .grid-#{$i} > *
    padding: 24px
  .narrow > *
    padding: 0


@for $i from 1 through $max-col
  .col-#{$i}
    grid-column-end: span #{$i}
  .offset-#{$i}
    grid-column-end: span #{$i}

.col-all
  grid-column-start: start
  grid-column-end: end

@each $media, $width in (-fullhd, 1440px), (-widescreen, 1200px), (-desktop, 960px), (-tablet, 768px), (-mobile, 576px)
  @media (min-width: #{$width})
    @for $i from 1 through $max-col
      .col-#{$i}#{$media}
        grid-column-end: span #{$i}
    .col-all#{$media}
      grid-column-start: start
      grid-column-end: end
  @media (max-width: #{$width})
    @for $i from 1 through $max-col
      .col-#{$i}-on#{$media}
        grid-column-end: span #{$i}
    .col-all-on#{$media}
      grid-column-start: start
      grid-column-end: end
  @media (max-width: #{$width})
    .hide-on#{$media}
      padding: 0px !important
      display: none
